<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ログイン画面</title>
    <link th:href="@{/css/login.css}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
      <div class="contents">
        <div class="title">
          <h1>アイオスショッピング　管理システム</h1>
        </div>
        <p class="error" th:if="${param.error}">IDもしくはパスワードが一致しません</p>
        <div class="login-form">
          <table>
            <form th:action="@{/login}" method="post">
              <tr>
                <th>ユーザID</th>

                <td><input class="input" type="text" name="user_id" /></td>
              </tr>

              <tr>
                <th>パスワード</th>
                <td><input class="input" type="password" name="password" /></td>
              </tr>

              <tr>
                <td colspan="2"><input class="login-button" type="submit" value="ログイン" /></td>
              </tr>
            </form>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
